Links to detail news pages

Since OpenCms 8.x, OpenCms will now generate a link, based on the path of the detail page and the mapped title of the news. Let’s say the title of the news was “Some great title”, the so the link created would be “/news/Some-great-title/”.

But all cyrillic letters in news title are skipped and link created would be “/news/-/” or “/news/--00001/” next news (see screenshot).
![errorcyrintitle](https://f.cloud.github.com/assets/5821444/1483205/55d3cbbe-46f3-11e3-9772-02e52dba457d.png)

In HTML 4.01
http://www.w3.org/TR/html401/appendix/notes.html#h-B.2.1

B.2.1 Non-ASCII characters in URI attribute values

Although URIs do not contain non-ASCII values (see [URI], section 2.1) authors sometimes specify them in attribute values expecting URIs (i.e., defined with %URI; in the DTD). For instance, the following href value is illegal:

<A href="http://foo.org/Håkon">...</A>
We recommend that user agents adopt the following convention for handling non-ASCII characters in such cases:

Represent each character in UTF-8 (see [RFC2279]) as one or more bytes.
Escape these bytes with the URI escaping mechanism (i.e., by converting each byte to %HH, where HH is the hexadecimal notation of the byte value).
This procedure results in a syntactically legal URI (as defined in [RFC1738], section 2.2 or [RFC2141], section 2) that is independent of the character encoding to which the HTML document carrying the URI may have been transcoded.

So in example mentioned at screenshot url should be:
..../en/world-of-flowers/news-article/%D0%AD%D1%82%D0%BE-%D0%BC%D0%BE%D0%B9-%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BE%D0%BA/

This is a hard one. OpenCms pretty much assumes that all resource names / URLs are using ASCII chars only. Escaping in URLs is not supported and this is not likely to change anytime soon.

The workaround is to configure the replacement to deal better with international characters. This can be done in the XML contiguration, where you provide an ASCII char for every non-ASCII char. 

Closing this ticket since a workaround is available. 